**/*.o
**/*.obj
**/*.lib
**/*.exp
**/*.ilk
**/*.dep
**/*.dll
**/*.exe
**/*.so
**/*.pdb
**/*.a
cmake_build/**/*
bin/**/*
build/**/*
src/elog/proto/**/*.pb.*
vcpkg.json
CMakeUserPresets.json
mason_packages/**/*
